:root {
    --bg-color: #0a0a0a; /* Dark background */
    --accent-color: #4169e1; /* Royal blue accent */
    --img-border-color: var(--accent-color); /* Image border uses the accent color */
    --btn-border-color: rgb(20, 20, 20); /* Button border color */
    --btn-bg: rgb(20 20 20 / 32%); /* Semi-transparent black for button background */
    --text-color: #4682b4; /* Steel blue for text */
    --text-color-light: #d3d3d3; /* Changed to light grey */
    --btn-color: var(--text-color); /* Button text color uses the main text color */
    --ahref-color: var(--text-color); /* Link color */
    --icon-color: var(--accent-color); /* Icons use the accent color */
    --icon-bg: rgba(185, 211, 240, 0.3); /* Light blue background for icons */
    --btn-hover-bg: rgb(20 20 20 / 50%); /* Darker semi-transparent background on button hover */
    --btn-border: 2px solid var(--btn-border-color); /* Button border */
    --img-border: 2px dashed var(--img-border-color); /* Dashed image border */
    --scroll-bar: var(--accent-color); /* Scrollbar uses accent color */
    --selection: rgba(55, 13, 114, 0.705); /* Selection color with transparency */
}
